body {
    margin: 0;
    padding: 0;
    background-color: grey;
    
}
#top-image {
    display: block;
    text-align: center;
    width: 100%;
}
.bottom-image-1 {
    display: inline;
    margin: 50px 150px;
    border-radius: 50%;
    border: 20px solid rgb(44, 44, 44);
    width: 15%;
}
.bottom-image-2 {
    display: inline;
    margin: 50px 110px;
    border-radius: 50%;
    border: 20px solid rgb(44, 44, 44);
    width: 15%;
}
.bottom-image-3 {
    display: inline;
    margin: 50px 150px;
    border-radius: 50%;
    border: 20px solid rgb(44, 44, 44);
    width: 15%;
}
/* *{
    border: 2px solid blue
} */