/* if you are using any Google fonts change the font names below to your fonts.
Any spaces in your font name should be replaced with a +.
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Playfair+Display&display=swap');

/* Home page style code. Start. */
/* Some code from home page will/can be use for
child pages. Like Navigation and Footer code. */

/* Navigation bar style code. Start. */
/* This code will also be use in the child pages */

header {
    background-color: #000000;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
    background-color: #000000;
    font-size: 20px;
}
nav {
    display: flex;
    /* justify-content: space-around; */
    justify-content: flex-end;
}
nav a:hover {
    background-color: #5c5c5c;
    color: #ffffff;
}
.logo {
    width: 90px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/* Navigation bar style code. End. */

/* Parallex style code. Start. */
.section1, .section2, .section3, .section4, .section5, .section6, .section7 {
    position: relative;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section1 {
    background-image: url('/wdd130/ksphotography/images/home_hero_yosemitybubbles.jpg');

    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.section3 {
    background-image: url('/wdd130/ksphotography/images/home_muirwoods.jpg');

    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section5 {
    background-image: url('/wdd130/ksphotography/images/home_couple_kl.jpg');

    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section7 {
    background-image: url('/wdd130/ksphotography/images/home-Carlton_Family.jpg');

    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2, .section4, .section6 {
    background: #000000;

    min-height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-title, .place-title, .couple-title, .family-title{
    /* position: absolute; */
    
    font-family:Forum, Halvetica, sans-serif;
    color: #ffffff;
    font-size: 100px;
}
/* Parallex style code. End. */

/* Style of text for on Home page. Start. */
.home-text {
    margin: 20px 200px;
    /* position: absolute; */
    font-family: Playfair Display, Halvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
}
.home-text-title {
    margin: 20px;
    /* position: absolute; */
    font-family: Playfair Display, Halvetica, sans-serif;
    /* font-size: 20px; */
    color: #ffffff;
}

.quote {
    margin: 40px;
    position: absolute;
    font-family: Forum, Halvetica, sans-serif;
    font-size: 4em;
    color: #ffffff;
}
/* Style of text for on Home page. End. */

/* Footer style code. Start. */
/* Code will also be use in child pages. */
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 25px 500px;
    /* margin-top: 200px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
footer a {
    color: #ffffff;
    text-decoration: none;
}
footer a:hover {
    color: #ffffff;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
/* Footer style code. End. */

/* Home page Code. End. */

/* Child page. About me. Start */

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    background-color: #000000;
}

* {box-sizing: border-box;}

.about-me-image {
    grid-column: 1/2 ;
    grid-row: 2/3 ;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#head-shot{
    width: 400px;
    height: 600px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
}
/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 140px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 400px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Forum, Halvetica, sans-serif;
    margin-left: 200px;
}
/* When you mouse over the container, fade in the overlay title */
.about-me-image:hover .overlay {
    opacity: 1;
  }
.about-me-portrait {
    grid-column: 1/2 ;
    grid-row: 3/4 ;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#portrait{
    width: 400px;
    height: 600px;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.about-content {
    grid-column: 2/3 ;
    grid-row: 2/3 ;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 300px;
    font-family: Playfair Display, Halvetica, sans-serif;
    color: #ffffff;
}
.about-content2 {
    grid-column: 2/3 ;
    grid-row: 3/4 ;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 300px;
    font-family: Playfair Display, Halvetica, sans-serif;
    color: #ffffff;
}
.about-title {
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: Forum, Halvetica, sans-serif;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    
}
